# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

#minecraft
minecraft*
plugins/*
!plugins/BasePlugin.go
!plugins/ExampleYinyinPlugin.go
!plugins/hotPlugin.go
!plugins/pluginList.go
!plugins/pluginMap.go
parsers/*
!parsers/defaultParser.go
!parsers/parserList.go
logs/*
!.keep
back-up/*
start
*.rar